{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel= "stylesheet" href="{% static 'style.css' %}" />
  
  <title>Blog website</title>
</head>
<body>
<h1>Welcome to our blog website</h1>
<p>This is a blog dedicated to pets, particularly dogs and cats. Here, you'll find interesting articles, stories, and pictures about our furry friends.</p>

  
  {{result1}}
  
  <h2>Random dog</h2>
  <h2>The Everlasting Devotion of Dogs</h2>
  <p>Dogs, with their unwavering loyalty and boundless affection, epitomize companionship throughout history. From ancient hunting partners to modern-day family members, dogs have remained steadfastly by our sides. Whether working on farms, serving in wars, or offering comfort in our homes, their loyalty knows no bounds. Their wagging tails and soulful eyes speak volumes, melting hearts and forging unbreakable bonds. In literature, art, and everyday life, dogs inspire love and admiration, reminding us of the enduring connection between humans and our faithful canine companions. In their presence, we find solace, joy, and a love that transcends time.</p>
   {{result2}}
  <img src= {{result2}} alt="random dog" />

  <h3>Random cat</h3>
  <h3>The Eternal Charm of Cats</h3>
  <p>Cats, with their graceful demeanor and mysterious aura, hold an eternal fascination for humanity. Originating as hunters in ancient times, they've evolved into cherished companions, revered in cultures worldwide. From Egypt's worship of Bastet to modern internet memes, cats weave through history, inspiring art, literature, and endless affection. Their independent nature and playful antics captivate hearts, forging deep bonds with humans. As symbols of grace and mystery, cats transcend time, bringing joy and comfort to countless lives. In their eyes, we glimpse a timeless allure, a reminder of the enduring connection between humans and our feline friends.</p>

  {{result3}}
  <img src ={{result3}} alt="random cat" />

</body>
</html>